.slider-content img,
.single-blog img {
    width: 100%;
    margin-top: 80px;
}

.logo {

    margin-top: 70px;
}

.nav_style {
    background-color: transparent;
    border: none;
    padding-top: 29px;
}

.nav_style_header {
    background-color: transparent;
    border: none;
    padding-top: 29px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: none;
}

.nav_style ul {
    float: right;
}

.nav_style ul li {
    text-transform: uppercase;
    padding: 0 27px;
}

.nav_style ul li a {
    color: #707070;
    transition: .2s;

}


.title {
    padding: 0px 29px;
    font-size: 17px;
    margin-top: 90px;
    color: #d9d6ce;
    text-transform: uppercase;
}

.photodiary-content {
    padding: 0px 29px;
}

.heading {
    padding: 0px 29px;

    font-size: 29px;
    color: #626262;
}

.content {
    padding: 0px 29px;
    margin-top: 35px;
    color: #a1a1a1;
    font-size: 16px;
}

.comment {
    padding: 0px 29px;
    font-size: 20px;
    margin-top: 50px;
    color: #b4ad9e;
}

.single-blog img {

    padding: 0px 29px;
}

.newslettter {
    background-color: #f0f0f0;
    min-height: 280px;
}

.text-center {

    margin-top: 80px;
    text-align: center;
}

.form {
    position: relative;
    margin-top: 35px;
}

#form-field {

    background: transparent;
    border: none;
    width: 53%;
    border-bottom: 2px solid black;
    margin-top: 60px;
}

.send-btn {

    position: absolute;
    background: transparent;
    border: none;
    right: 70px;
    margin: 57px;
}

.footer {

    background-color: #f0f0f0;
}

.text-content {
    font-size: 19px;
    margin-top: 80px;
    text-align: center;
}

.load-more-btn {

    border: 1px solid black;
    background: transparent;
    margin-bottom: 100px;
    padding: 13px 21px;
}

.privacy {
    font-size: 20px;
    color: #606060;
    margin-top: 38px;
}

.menulist {
    float: right;
    margin-top: 44px;
}

.menulist ul {}

.menulist ul li {
    padding: 0px 28px;
    float: left;
    list-style: none;
}

.menulist ul li a {}
